@use '../../app/css/variable' as vars;
@use '../../app/css/breakpoint' as break;

.Card1Section{
  background-color: vars.$secondary;
  z-index: 1;
  #cardEpo{
    padding: 0 15px;
    position: relative;
    @include break.mobileMore{
      padding: 0 30px;
    }
    @include break.tabletMore{
      padding: 0 160px;
    } 
  }
}
.epoCardItem{
    position: relative;
    width:100%;
    height: 150px;
    @include break.mobileMore{
      height: 235.47px;
     }
     @include break.tabletMore{
      height: 500px;
    }
}

.txt{
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 72px;
    @include break.tabletMore{
      height: 96px;
    }
    .txtKo{
      font-size: 3rem;
      font-weight: 700;
      @include break.tabletMore{
        font-size: 4rem;
      }
    }
    .txtEn{
      font-size: 2.4rem;
      font-weight: 700;
      @include break.tabletMore{
        font-size: 3rem;
      }
    }
  }

#brands{
  position: relative;
  margin-top: 100px;
  margin-bottom: 350px;
  width: 100%;
  @include break.mobileMore{
    margin-top: 100px;
  }
  @include break.tabletMore{
    margin-top: 278px;
  }
}

.content{
  padding: 0 15px;
  @include break.mobileMore{
    padding: 0 30px;
  }
  @include break.tabletMore{
    padding: 0 160px;
  }
}
