@use '../../app/css/variable' as vars;
@use '../../app/css/breakpoint' as break;

.epoCard{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: auto;
  margin-top:86px;
  @include break.mobileMore{
    flex-direction: row;
    margin-top: 50px; 
   }
   @include break.tabletMore{
    margin-top: 64px;
  } 
  .epoCardItem{
    position: relative;
    width:100%;
    height: 150px;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 20px;
    @include break.mobileMore{
      height: 235.47px;
     }
     @include break.tabletMore{
      height: 500px;
    }
    .frontSide, .backSide {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; // Safari 지원
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: transform 0.3s;
      border-radius: 20px;
    }
    .frontSide {
      .bgClass, .txt {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
    .backSide {
      background-color: vars.$secondary-80;
      transform: rotateY(180deg); // 처음에는 뒤집어진 상태
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid vars.$secondary-40;

      .txt {
        width: 100%;
        color: white;
        font-size: 1.6rem;
        justify-content: center;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        white-space: pre-line; 
        @include break.tabletMore{
          font-size: 2rem;
        }
      }
    }
  }
  .txt{
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 72px;
    z-index: 10;
    @include break.tabletMore{
      height: 96px;
    }
    .txtKo{
      font-size: 3rem;
      font-weight: 700;
      @include break.tabletMore{
        font-size: 4rem;
      }
    }
    .txtEn{
      font-size: 2.4rem;
      font-weight: 700;
      @include break.tabletMore{
        font-size: 3rem;
      }
    }
  }
}





